


<link href="~/Content/style_add7dcb520855e67.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />


<br/>
<br/>
  <br />

  

    <div id="" class="component" data-order="1" data-type="webscript" data-moveable="false" data-params="region=header">
        <div class="sticky-top-header">
            <header class="top-header hide-for-print" role="banner">
                
                <div class="header-menu absolute backdrop-off-white pam" js-target="global-header-menu" data-menu="cart">
                    <svg class="border-caret absolute bottom-100pct hide-for-small" width="24px" height="16px" js-target="global-header-menu-caret" style="left: 71.2344px;"><path stroke-width="4px" d="M 0 16 l 12 -14 l 12 14"></path></svg>
                    <div class="right"><a href="#" class="text-gray" js-target="global-header-menu-toggle" data-menu="cart"><i class="icon icon-times"></i></a></div>
                    <h3 class="mtl subheader">Items added to cart</h3>
                    <div class="cart-container" js-target="global-header-cart-contents">
                        <div class="message mbs mtm">Your Shopping Cart is empty.</div>
                        <a href="/store" class="button expand mbn mtm">Visit our store</a>
                    </div>
                </div>
                <div class="header-menu absolute backdrop-off-white pam hide-medium-up" js-target="global-header-menu" data-menu="search">
                    <form action="/search" method="get" class="flex-row mtl">
                        <button class="attached-search-button">
                            <svg class="size-32x32 svg-ie"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="~/images/icons.svg#search"></use></svg>
                        </button>
                        <input type="hidden" name="search_type" value="search-all">
                        <input type="search" autocomplete="on" name="term" class="mbn flex-1">
                    </form>
                </div>
                <div class="header-menu absolute backdrop-dark pam" js-target="global-header-menu" data-menu="user">
                    <svg class="border-caret-dark absolute bottom-100pct hide-for-small" width="24px" height="16px" js-target="global-header-menu-caret" style="left: -945px;"><path stroke-width="4px" d="M 0 16 l 12 -14 l 12 14"></path></svg>
                    <div class="right"><a href="#" class="link--white" js-target="global-header-menu-toggle" data-menu="user"><i class="icon icon-times"></i></a></div>
                    <h3 class="white mvl" js-target="user-menu-name">Guest User</h3>
                    <a href="/my-library/library" class="is-block link--white pvm has-border-top-light">MY LIBRARY</a>
                    <a href="/my-library/topics" class="is-block link--white pvm has-border-top-light" js-target="global-topic-feeds-anchor">TOPIC FEEDS</a>
                    <a href="/my-library/purchases" class="is-block link--white pvm has-border-top-light">PURCHASES</a>
                    <a href="/my-library/activity" class="is-block link--white pvm has-border-top-light">ACTIVITY</a>
                    <a href="/my-library/settings" class="is-block link--white pvm has-border-top-light">ACCOUNT SETTINGS</a>
                    <a href="/my-library/preferences" class="is-block link--white pvm has-border-top-light">EMAIL PREFERENCES</a>
                    <a href="/logout" class="is-block link--aqua ptm has-border-top-light">LOG OUT</a>
                </div>
                <div class="absolute backdrop-white width-100pct hide-small pbm hide" data-purpose="search-auto-suggest">
                    <div class="font-sans-serif">
                        <ul class="no-bullet ptm mbs invisible" data-container="dimensions">
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark"></li>
                            <li class="pbl pts line-height-tight font-size-large text-gray-dark has-border-bottom"></li>
                            <li class="ptl font-size-xsmall text-gray-light font-bold">SUGGESTED TOPICS</li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark no-bullet"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark no-bullet"></li>
                            <li class="pbm pts line-height-tight font-size-large text-gray-dark no-bullet"></li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>

       

        <!-- End .header -->
    </div>
   

                <nav class="global-nav backdrop-off-white flex-col justify-between ptm hide-for-print is-contained" data-state="" data-page="home">
                    <div class="phl">

                        <i class="fa-code-fork"></i>
                        
                        <a href="/" class="is-block mtm mbs hide-medium-down">Naija Business Review"</a>
                        <ul>
                       <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("THE LATEST", "TheLatest")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("MOST POPULAR", "MostPopular")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("ALL TOPICS", "AllTopics")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("VIDEO", "Video")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("SUBSCRIBER EXCLUSIVE", "SubscriberExclusive")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("BUY NBR PRODUCTS", "NbrProducts")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("MY LIBRARY", "MyLibrary")</li>
                            <li class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store"> @Html.ActionLink("MAGAZINE ARCHIVE", "MagazineArchive")</li>
                            </ul>
                    </div>

                    <personalization-placement class="personalization-placement do-not-show" data-placement-id="mag_cover_engage">
                        <div class="flex-row justify-center hide-small">
                            <a href="/subscribe" target="_blank"><img class="nav-magazine-cover" src="~/images/latest.png" alt="Subscribe"></a>
                        </div>
                        <a href="/subscribe" target="_blank" class="is-block text-center slug--small light-gray inverted font-tight line-height-tight pvm phl">Subscribe + Save!</a>
                    </personalization-placement>
                </nav>
           
